
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

:root{
    --cor--primária: #052051;
}
.principais{
    height: 60px;  
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
} 
.head{
    background-color: var(--cor--primária); 
    padding: 10px; 
    border-bottom: solid 3px #609ED4;  
    width: 100%; 
    position: fixed; 
}  

.imagem_logo{
    height: 50px;
    width: 170px; 
    margin-left: 70px; 
    
} 


a{
    text-decoration: none; 
    color: #93ACB5;   
    margin: 10px; 
    font-family: 'Merriweather', serif;
    font-size: 1.1rem; 
    font-weight: 700;
    
}  

.home{
    color: white;
}

a:hover{
    text-decoration: underline;
}

.links_principais{
    margin-right: 40px; 
    
} 

.cont_principal{
    display: flex; 
    padding: 25px; 
    gap: 0px;  
    align-items: center;  
    justify-content: center; 
    background-color: #F2F4FF; 
    height: 700px; 
    padding-top: 200px;
    
} 

.texto{
    width: 30%; 
    color: black; 
    display: flex;
    flex-direction: column;
    gap: 20px;   
    font-size: 2rem;
    
} 
.eslogam{
    font-family: 'Protest Guerrilla', sans-serif; 
    font-weight: 400; 
    color: var(--cor--primária);
} 
.complemento{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}
.pessoa{
    width: 40%;
} 
.duas_partes{
    padding: 150px;
    background-color: #F2F4FF; 
    display: flex;  
    flex-direction: row; 
    align-items: flex-start; 
    gap: 0px;
} 

.titulo{
    font-size: 2rem; 
    font-family: 'Protest Guerrilla', sans-serif; 
    color: var(--cor--primária); 
    margin-bottom: 30px;  


}
.missao{
    display: flex; 
    flex-direction: row;
}
.olho_da_empresa{
    background-color: var(--cor--primária);
    width: 20%; 
    height: 400px; 
    padding: 10px;   
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: white; 
    word-break: break-all; 
    border-radius: 30px;  
    font-family: 'Oswald', sans-serif; 
    font-size: 1.5rem;
    

}  

.part1{
    display: flex; 
    flex-direction: column;
    gap:20px;
}

.org{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 150px;
} 

.sobre{
    display: flex;
    flex-direction: row-reverse;
} 




