
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


:root{
    --cor--primária: #0d1b2a;
}
.principais{
    height: 60px;  
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
} 
.head{
    background-color: var(--cor--primária); 
    padding: 10px; 
    border-bottom: solid 3px #415a77;  
    width: 100%; 
    position: fixed; 
}  

.imagem_logo{
    height: 50px;
    width: 170px; 
    margin-left: 70px; 
    
} 


a{
    text-decoration: none; 
    color: #e0e1dd;   
    margin: 10px; 
    font-family: 'Merriweather', serif;
    font-size: 1.1rem; 
    font-weight: 700;
    
}  

.home{
    color: #e0e1dd;
}

a:hover{
    text-decoration: underline;
}

.links_principais{
    margin-right: 40px; 
    
} 

.cont_principal{
    display: flex; 
    padding: 25px; 
    gap: 60px;    
    justify-content: center; 
    background-color: #e0e1dd; 
    height: 700px; 
    padding-top: 200px;  
    align-items: center;
    
} 

.texto{
    width: 30%; 
    color: #003049; 
    display: flex;
    flex-direction: column;
    gap: 20px;   
    font-size: 2rem;
    
} 
.eslogam{
    font-family: 'Protest Guerrilla', sans-serif; 
    font-weight: 400; 
    color: var(--cor--primária);
} 
.complemento{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}
.pessoa{
    width: 30%; 
    border-radius: 30px;
} 
.duas_partes{ 
    padding: 170px;
    background-color: #e0e1dd; 
    display: flex;  
    flex-direction: row;  
    justify-content: center ; 
} 

.titulo{
    font-size: 2rem; 
    font-family: 'Protest Guerrilla', sans-serif; 
    color: var(--cor--primária); 
    margin-bottom: 30px;  


} 

.missao{
    display: flex; 
    flex-direction: row;
}
.olho_da_empresa{
    background-color: var(--cor--primária);
    width: 70%; 
    height: 450px; 
    padding: 10px;   
    display: flex;
    flex-direction: column;
    text-align: center; 
    color: #e0e1dd; 
    word-break: break-all;  
    font-family: 'Oswald', sans-serif; 
    font-size: 1.5rem; 
    gap: 15px; 
    border-radius: 5px; 
    align-items: center;
    

}  

.part1{
    display: flex; 
    flex-direction: column;
    gap:20px;
}

.org{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 50px; 
    margin-right: 0;
}  
.juncao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textoMudavel,.mudarTitulo{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.sobre{
    display: flex;
    flex-direction: row-reverse;
} 

#cursos{
    padding-top: 10%; 
    background-color: #e0e1dd;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 


} 

.tituloCursos{
    font-weight: bold;
    color: var(--cor--primária);
    font-family: 'Protest Guerrilla', sans-serif; 
    font-size: 2.5rem;
} 

.ttloc{
    font-family: 'Protest Guerrilla', sans-serif ;  
    font-size: 2rem;  
    color: var(--cor--primária);  
    margin-bottom: 46px;

}
iframe{
    width: 600;
    height: 450;
    border: 0;  
    border-radius: 20px;
    
} 

.bloco{
    width: 100px;
    height: 100px; 
    background-color: #1b263b;
}

.img_cursos1, .img_cursos2{
    display: flex;
    flex-direction: row;
    gap: 20px;
} 

.rodape{
    width: 100%; 
    height: 100px;
    background-color: var(--cor--primária); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
} 

.linha{
    border: solid 1px var(--cor--primária); 
    width: 75%; 

} 
.linksFinais{
    display: flex;
    flex-direction: row;  
    color: #000814; 
    font-family: 'Oswald', sans-serif ;
    
} 

.contatos{
    display: flex;
    align-items: center; 
    gap: 10px; 
    justify-content: center;
}

.g_missão{
    width: 26%;
    height: 25%; 
    margin-left: 55px
} 

/*CARROSEL*/

.content{
    width: 800px; 
    height: 500px; 
    overflow: hidden;

}  
.slides{
    display: flex;
}
.navigation{
    position: absolute;
    bottom: 300px;
    left:58%; 
    transform: translate(50%); 
    display: flex;
} 
input{
    display: none;
}
.bar{
    border: 2px solid #fff; 
    padding: 10px;
    border-radius: 20px;
    cursor: pointer; 

} 

.bar:not(:last-child){
    margin-right: 20px; 
} 

.bar:hover{
    background-color: #20a6ff;
    transition: .4s; 
}  

.slides{
    display: flex;
    width: 400%;
    height: 100%;
} 
.slide{
    width: 25%;
    transition: 0.5s;
} 
.slide img{
    width: 100%; 
    height: 100%; 
    border-radius: 20px;
} 

#slide1:checked ~ .s1{
    margin-left: 0;
} 

#slide2:checked ~ .s1{
    margin-left: -25%;
} 

#slide3:checked ~ .s1{
    margin-left: -50%;
} 

#slide4:checked ~ .s1{
    margin-left: -75%;
}
